
.addForm{
  max-width: 400px;
  display: flex;
  margin: 30px auto ;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}
/* end */
.register{
  max-width: 400px;
  display: flex;
  margin: 30px auto ;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}
.login{
  max-width: 400px;
  display: flex;
  margin: 30px auto ;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}
.portal{
  display: flex;
  flex-direction: column;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-not-found{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-not-found>img{
  width: 100%;
}

.movie-container{
  margin: 30px;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 10px 20px #FFFFFF;
  border-radius: 10px;
  background-color: azure;
}
.movie-poster{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.movie-spec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-summary{
  text-align: justify;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
}